<ul class="nav bg-primary" id="navbar">
  <div class="logo ml-4"><a routerLink="">LOGO</a></div>
  <li class="nav-item ml-4 " color>
    <a class="nav-link text-white " routerLink="">Home</a>
  </li>
  <li class="nav-item " appTest>
    <a class=" nav-link text-white" routerLink="/users">Employee List</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" routerLink="/contact">Contact</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" routerLink="#">About</a>
  </li>

  <li class="nav-item ml-auto">
    <a class=" nav-link text-white" routerLink="/login">Login</a>
  </li>
  <li class=" nav-item">
    <a class=" nav-link text-white" routerLink="/register">Register</a>
  </li>
</ul>
